<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments/layout :: head"></head>


<body style="background-color: #f7fbfb;">

<div th:replace="fragments/layout :: header"></div>

<div class="container">
<div style="font-family: Oswald, sans-serif; color: rgb(32,1,47);">
        <form method="POST" th:object="${billingAddress}" >
        	<h2 align="center" style="margin-bottom: 50px;margin-top:120px;">Billing Address Info</h2>
            <div class="text-center d-flex justify-content-sm-start align-items-sm-end" style="margin-bottom: 25px;"><label class="text-right d-inline-block" style="width: 310px;margin-right: 20px;">Address:</label><input class="border-secondary form-control" type="text" placeholder="Enter Address" style="height: 35px;width: 500px;" name="address">
            <span th:errors="${billingAddress.address}" class="text-danger"></span>
            </div>
            
            <div class="text-center d-flex justify-content-sm-start align-items-sm-end" style="margin-bottom: 25px;"><label class="text-right d-inline-block" style="width: 310px;margin-right: 20px;">City:</label><input class="border-secondary form-control" type="text" placeholder="Enter City" style="height: 35px;width: 500px;" name="city">
            <span th:errors="${billingAddress.city}" class="text-danger"></span>
            </div>
            
            <div class="text-center d-flex justify-content-sm-start align-items-sm-end" style="margin-bottom: 25px;"><label class="text-right d-inline-block" style="width: 310px;margin-right: 20px;">State:</label><input class="border-secondary form-control" type="text" placeholder="Enter State" style="height: 35px;width: 500px;" name="state">
            <span th:errors="${billingAddress.state}" class="text-danger"></span>
            </div>
            
            <div class="text-center d-flex justify-content-sm-start align-items-sm-end" style="margin-bottom: 25px;"><label class="text-right d-inline-block" style="width: 310px;margin-right: 20px;">Zip Code:</label><input class="border-secondary form-control" type="text" placeholder="Enter Zip Code" style="height: 35px;width: 500px;" name="zipcode">
            <span th:errors="${billingAddress.zipcode}" class="text-danger"></span>
            </div>
            
            <div class="text-center d-flex justify-content-sm-start align-items-sm-end" style="margin-bottom: 25px;"><label class="text-right d-inline-block" style="width: 310px;margin-right: 20px;">Country:</label><input class="border-secondary form-control" type="text" placeholder="Enter Country" style="height: 35px;width: 500px;" name="country">
            <span th:errors="${billingAddress.country}" class="text-danger"></span>
            </div>
            
            <div style="display: inline-flex; align-items: center;margin-top: 20px;margin-bottom: 110px;">
            <a class="btn btn-warning border-dark" style="margin-left: 430px;margin-right: 15px;background-color: #b0b7b7;color: #070707;" th:href="@{${flowExecutionUrl}(_eventId='backToCustomerInfo')}" th:onmouseout="this.style='background-color:#b0b7b7;color: #070707;margin-left: 430px;margin-right: 15px;'" th:onmouseover="this.style='background-color:rgb(217,5,18);color:#070707;margin-left:430px;margin-right:15px;'">Back</a>
            <a class="btn btn-warning border-dark" style="margin-right: 15px;background-color:  #f25304;color:  #070707;"  th:href="@{${flowExecutionUrl}(_eventId='home')}" th:onmouseout="this.style='background-color:#f25304;color:#070707;margin-right: 15px;'" th:onmouseover="this.style='background-color:rgb(217,5,18);color:#070707;margin-right: 15px;'">Home</a>
            <button class="btn btn-warning border-dark" type="submit" style="background-color:  #024c7d;color:  #d9d9d9;"  name="_eventId_billingDetailsCollected"  th:href="@{${flowExecutionUrl}(_eventId='billingDetailsCollected')}" th:onmouseout="this.style='background-color:#024c7d;color:#d9d9d9;margin-right: 15px;'" th:onmouseover="this.style='background-color:rgb(217,5,18);color:#070707;margin-right: 15px;'">Continue</button>
            </div>
            </form>
            
            </div>
            </div>
            
            <div th:replace="fragments/layout :: footer"></div>
            </body>
            </html>