<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments/layout :: head"></head>

<body style="background-color: #f7fbfb;">

<div th:replace="fragments/layout :: header"></div>


<div class="container">
<div style="font-family: Rajdhani, sans-serif;color: rgb(59,1,5);">
        <h1 align="center" style="margin-bottom: 50px;margin-top:120px;">Registration Failed</h1>
        <h3 align="center">Email already exists</h3>
        
        
        
        <div
                class="text-center" style="margin-top:20px;">
                <a class="btn btn-primary border-dark"  type="button" style="background-color: rgb(0,1,1);color: rgb(217,5,18);"  th:href="@{${flowExecutionUrl}(_eventId='home')}" th:onmouseout="this.style='background-color:rgb(0,1,1);color:rgb(217,5,18);'" th:onmouseover="this.style='background-color:rgb(217,5,18);color:rgb(0,1,1);'">
                Home</a>
                <a class="btn btn-primary border-dark"  type="button" style="background-color: rgb(0,1,1);color: rgb(217,5,18);"  th:href="@{${flowExecutionUrl}(_eventId='retry')}" th:onmouseout="this.style='background-color:rgb(0,1,1);color:rgb(217,5,18);'" th:onmouseover="this.style='background-color:rgb(217,5,18);color:rgb(0,1,1);'">
                Retry</a>
        </div>
        
        
        </div>
        </div>
        
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>